<h1>Edit Workout</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_web_workout_web_path(@conn, :update, @workout.user_id, @workout)) %>

<span><%= link "Back", to: Routes.user_web_workout_web_path(@conn, :index, @workout.user_id) %></span>
