<h1>Show Workout</h1>

<ul>

  <li>
    <strong>Workout duration:</strong>
    <%= @workout.workout_duration %>
  </li>

  <li>
    <strong>Workout date:</strong>
    <%= @workout.workout_date %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_web_workout_web_path(@conn, :edit, @workout.user_id, @workout), class: "button" %></span>
<span><%= link "Workout Home", to: Routes.user_web_workout_web_path(@conn, :index, @workout.user_id), class: "button" %></span>
